@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.cart{
    display: flex;
    align-self: end;
    flex-direction: column;
    position: fixed;
    width: 50%;
    z-index: 1;
    top: 6rem;
    border: 1px solid $color-primary-gold;
    padding: 2rem;
    background-color: black;
}