@use "./fonts" as *;
@use "./variables" as *;

html {
    scroll-behavior: smooth;
    --nav-height: #{$nav-height};
}

body {
    font-family: $font-family-primary;
    color: $color-background-black;
    background-color: $color-background-black;
    margin: 0;
    box-sizing: border-box;
}