$font-family-primary: "Metamorphous", 'Times New Roman', Times, serif;

$max-width-md: 1045px;
$max-width-lg: 1440px;

$nav-height: 6rem;

$color-primary-gold: #C0974F;
$color-primary-white: #FFFFFF;
$color-secondary-slate: #5C667E;
$color-secondary-cloud: #BDC5D5;
$color-background-black: black;