@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.about{
    text-align: center;
    margin: 10rem 4rem;
    &__title{
        color: $color-primary-gold   
    }
    &__description{
        color: $color-primary-white
    }
    &__name{
        color: $color-primary-gold
    }
    &__insta{
        height: 3rem;
    }
}