@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.item {
    border: solid 1px $color-primary-gold;
    width: 300px;
    height: 300px;
    padding: 1rem;
    &__picture{
        width: 100px;
        height: 100px;
    }
    &__label{
        color: $color-primary-white;
    }
    &__button{
        padding: 0.5rem 2rem;
    }
    &__description{
        color: $color-primary-white;
    }
    &__quantity-section{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 1rem 4rem;

    }
    &__size-section{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 1rem 4rem;
    }
    &__quantity-controls{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    &__quantity-btn{
        padding: 0.25rem;
        border: none;
    }
}
#size{
    background-color: black;
    color: $color-primary-white;
    border: solid 1px $color-primary-gold;
    border-radius: 3px;
    font-family: $font-family-primary;
}
#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }