@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.item {
    border: solid 1px $color-primary-gold;
    width: 300px;
    height: 300px;
    padding: 1rem;
    background: $color-background-black;
    &__picture{
        width: 100px;
        height: 100px;
    }
    &__label{
        color: $color-primary-white;
    }
    &__button{
        padding: 0.5rem 2rem;
    }
    &__value{
        color: $color-primary-white;
        margin: 1rem 0;
    }
    &__description{
        display: flex;
        justify-content: space-between;
        margin: 0 4rem;
    }
    &__quantity-section{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 1rem 4rem;
    }
    &__size-section{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 1rem 4rem;
    }
}
#size, #quantity{
    background-color: black;
    color: $color-primary-white;
    border: solid 1px $color-primary-gold;
    border-radius: 3px;
    font-family: $font-family-primary;
}
