@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.event {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    color: $color-primary-white;
    border: 1px solid $color-primary-gold;
    padding: 1rem;
    @include tablet{
        max-width: 500px;
    }
    &__top{
        text-align: start;        
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}