@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.nav {
    background-color: black;
    border-bottom: 1px solid $color-primary-gold;

    position: fixed;
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;

    padding: 1rem;
    box-sizing: border-box;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    @include desktop {
        padding: 1rem;
        margin: 0;
    }

    &__top{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        height: 4rem;
        width: auto;
    }

    &__tabs-mobile {
        display: none;
        &--open {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include tablet {
                display: none;
            }
        }
    }

    &__tabs-tablet {
        display: none;
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    &__burger{
        display: flex;
        background: none;
        border: none;
        color: $color-primary-gold;
        font-size: 2rem;
        cursor: pointer;
        @include tablet {
            display: none;
        }
    }

    &__cart{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0.5rem 0 0.5rem 3.5rem; //sets shopping cart to logo size
    }

    &__link {
        color: $color-primary-gold;
        text-decoration: none;
        padding: 1rem 0;
        font-family: $font-family-primary;
        @include tablet {
            padding: 0 1rem;
        }
    }
}