@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid $color-primary-gold;

    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 1;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }
     @include desktop {
        padding: 1rem;
        margin: 0;
    }

    &__logo {
        display: flex;
        height: 4rem;
        width: auto;
    }
    &__tabs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
        width: auto;
        }
    }
    &__link{
        font-family: $font-family-primary;
    }
}