@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    gap: 1.5rem;
    border-bottom: 1px solid gold;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 2rem 8rem 2rem;
    }
     @include desktop {
        padding: 2rem 2rem 2rem 2rem;
    }

    &__logo {
        display: flex;
        height: 1.75rem;
        width: auto;
    }

    &__tabs {
        width: 100%;
        max-width: 21.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        @include tablet {
        width: auto;
        }

    }
    &__tab {
        text-decoration: none;
        color: $color-secondary-cloud;
        background-color: black;
        border-radius: 20px;
        padding: 0.5rem 2rem;
             @include tablet {
                padding: 0.5rem 1rem;     
    }
        &--active {
            background-color: black;
          
            color: $color-primary-white;
        
            
        }

    }

}