@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

h2, h3{
    color: $color-primary-white;
}
.cart-item{
    display: flex;
    background: #5C667E;
    &__left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        margin: 1rem;
    }
    &__lower{
        display: flex;
        justify-content: space-between;
        width: 15rem;
    }
    &__right{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}