@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.tour {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    @include desktop{
        max-width: 1200px;
    }
    
}