@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.tour {
    scroll-margin-top: var(--nav-height, #{$nav-height});
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 10rem 0;
    border: solid 1px $color-primary-gold;
    border-radius: $standard-radius;
    background: $color-background-black;
    padding-bottom: 3rem;
    @include desktop{
        max-width: 1200px;
    }
    &__title{
        color: $color-primary-gold;
        padding-top: 1rem;
        font-family: $font-family-title;
    }
}