@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.tour {
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    @include desktop{
        max-width: 1200px;
    }
    &__title{
        color: $color-primary-gold   
    }
}